<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
		<link rel="stylesheet" type="text/css" href="css/global.css" th:href="@{/css/global.css}" />
		
		<title>Exam Manager</title>
	</head>
	<body>
		<div th:replace="/WEB-INF/infoPane :: header"> </div>
		
		<div class="home-title">Welcome to your home, <b><span th:text="${session.currentUser.name}"></span> <span th:text="${session.currentUser.surname}"></span></b></div>
		
		<div class="home-div">
			<div class="gossamer-div">
				<div class="courses-title">Here there are your courses:</div>
				<div class="card card-blue" th:each="obj : ${coursesNamesAndCount}" th:classappend="${objStat.even} ? 'even'">
					<div class="card-title">Course Name: <span th:text="${obj[0].name}"></span> </div>
					<div class="card-data"><b>Number of student enrolled: </b><span th:text="${obj[1]}"></span></div>
					<a class="btn btn-gossamer btn-small btn-primary" th:href="@{/GoToExamDates(courseName=${obj[0].name})}">Open</a>
				</div>
			</div>
		</div>
	</body>
</html>
